<div class="sky-docs-thumbnail">
  <sky-image *ngIf="imageSource"
    [imageSource]="imageSource"
    [imageAlt]="imageAlt"
    [caption]="caption"
    [captionType]="captionType"
    [showBorder]="showBorder"
    [showCaptionPrefix]="false"
  ></sky-image>
  <div *ngIf="videoSource"
    class="sky-docs-video"
    [ngClass]="{
      'sky-docs-video-border': showBorder
    }"
  >
    <video controls>
      <source
        [attr.src]="videoSource"
        type="video/mp4"
      />
    </video>
  </div>
</div>
