<div *ngIf="config"
  class="sky-docs-class-definition sky-docs-type-definition-wrapper"
>
  <sky-docs-heading-anchor
    headingLevel="3"
    [anchorId]="config.anchorId"
  >
    {{ config.name }}
  </sky-docs-heading-anchor>

  <sky-docs-safe-html *ngIf="description"
    class="sky-docs-class-definition-description"
    [innerHtml]="description | skyDocsTypeAnchorLinks | skyDocsMarkdown"
  ></sky-docs-safe-html>

  <ng-container *ngIf="properties?.length">
    <sky-docs-property-definitions
      [config]="{ properties: properties }"
    ></sky-docs-property-definitions>
  </ng-container>

  <ng-container *ngIf="methods?.length">
    <sky-docs-property-definitions
      propertyType="Method"
      [config]="{ properties: methods }"
    ></sky-docs-property-definitions>
  </ng-container>
</div>
