<div *ngIf="config"
  class="sky-docs-directive-definition sky-docs-type-definition-wrapper"
>
  <sky-docs-heading-anchor
    headingLevel="3"
    [anchorId]="config.anchorId"
  >
    {{ config.name }}
  </sky-docs-heading-anchor>

  <sky-docs-safe-html
    class="sky-docs-directive-definition-description"
    [innerHtml]="description | skyDocsTypeAnchorLinks | skyDocsMarkdown"
  ></sky-docs-safe-html>

  <h4 class="sky-docs-directive-definition-h4">
    Selector
  </h4>

  <p class="sky-docs-directive-selector">
    <sky-code>{{ selector }}</sky-code>
  </p>

  <ng-container *ngIf="codeExample">
    <h4 class="sky-docs-directive-definition-h4">
      Example
    </h4>
    <sky-code-block
      class="sky-docs-code-block"
      [code]="codeExample"
      [hideHeader]="true"
      [languageType]="codeExampleLanguage"
    >
    </sky-code-block>
  </ng-container>

  <sky-docs-property-definitions *ngIf="inputProperties?.length"
    [config]="{ properties: inputProperties }"
  ></sky-docs-property-definitions>

  <sky-docs-property-definitions *ngIf="eventProperties?.length"
    [config]="{ properties: eventProperties }"
  ></sky-docs-property-definitions>
</div>
