<div *ngIf="config"
  class="sky-docs-enumeration-definition sky-docs-type-definition-wrapper"
>
  <sky-docs-heading-anchor
    headingLevel="3"
    [anchorId]="config.anchorId"
  >
    {{ config.name }}
  </sky-docs-heading-anchor>

  <sky-docs-safe-html
    class="sky-docs-enumeration-definition-description"
    [innerHtml]="description | skyDocsTypeAnchorLinks | skyDocsMarkdown"
  ></sky-docs-safe-html>

  <sky-docs-property-definitions
    propertyType="Member"
    [config]="{
      properties: config.children
    }"
  ></sky-docs-property-definitions>
</div>
