<div *ngIf="config"
  class="sky-docs-interface-definition sky-docs-type-definition-wrapper"
>
  <sky-docs-heading-anchor
    headingLevel="3"
    [anchorId]="config.anchorId"
  >
    {{ config.name }}
  </sky-docs-heading-anchor>

  <sky-docs-safe-html
    class="sky-docs-interface-definition-description"
    [innerHtml]="description | skyDocsTypeAnchorLinks | skyDocsMarkdown"
  ></sky-docs-safe-html>

  <sky-code-block
    class="sky-docs-code-block"
    languageType="typescript"
    [code]="sourceCode"
    [hideHeader]="true"
  ></sky-code-block>

  <sky-docs-property-definitions
    [config]="{ properties: config.children }"
  ></sky-docs-property-definitions>
</div>
