<table *ngIf="parameters"
  class="sky-docs-parameter-definitions"
>
  <tbody>
    <tr *ngFor="let parameter of parameters">
      <th
        class="sky-docs-parameter-definition-header"
      >
        <sky-code><span
          [innerHtml]="parameter.signature | skyDocsTypeAnchorLinks:'no-code-tags'"
        ></span></sky-code>
      </th>
      <td
        class="sky-docs-parameter-definition-body"
      >
        <div *ngIf="parameter.description"
          class="sky-docs-parameter-definition-description"
        >
          <sky-docs-safe-html *ngIf="parameter.description"
            [innerHtml]="parameter.description | skyDocsMarkdown | skyDocsTypeAnchorLinks"
          ></sky-docs-safe-html>
        </div>
        <div *ngIf="parameter.isOptional"
          class="sky-docs-parameter-definition-label-optional"
        >
          Optional.
          <ng-container *ngIf="parameter.defaultValue">
            Default is
            <sky-code><span
              [innerHtml]="parameter.defaultValue | skyDocsTypeAnchorLinks:'no-code-tags'"
            ></span></sky-code>.
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</table>
