<div *ngIf="config"
  class="sky-docs-pipe-definition sky-docs-type-definition-wrapper"
>
  <sky-docs-heading-anchor
    headingLevel="3"
    [anchorId]="config.anchorId"
  >
    {{ config.name }}
  </sky-docs-heading-anchor>

  <sky-docs-safe-html *ngIf="description"
    [innerHtml]="description | skyDocsTypeAnchorLinks | skyDocsMarkdown"
  ></sky-docs-safe-html>

  <ng-container *ngIf="codeExample">
    <h4 class="sky-docs-pipe-definition-heading">
      Example
    </h4>
    <sky-code-block
      class="sky-docs-code-block"
      [code]="codeExample"
      [hideHeader]="true"
      [languageType]="codeExampleLanguage"
    ></sky-code-block>
  </ng-container>

  <sky-docs-property-definitions
    propertyType="Method"
    [config]="{
      properties: [transformMethod]
    }"
  ></sky-docs-property-definitions>
</div>
