@use '../../styles/mixins' as mixins;

.sky-docs-heading-anchor {
  color: mixins.$sky-text-color-default;

  &:hover {
    text-decoration: none;

    .sky-docs-heading-anchor-icon {
      opacity: 1;
    }
  }

  &:focus {
    .sky-docs-heading-anchor-icon {
      opacity: 1;
    }
  }
}

.sky-docs-heading-anchor-icon {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  color: mixins.$sky-text-color-action-primary;
  font-weight: normal;
  font-size: 18px;
}

@include mixins.sky-docs-tools-headings(heading-anchor);
