<div class="sky-docs-demo-page">
  <stache
    layout="sidebar"
    [pageTitle]="pageTitle"
    [showBreadcrumbs]="false"
    [showTableOfContents]="false"
    [sidebarRoutes]="sidebarRoutes"
  >
    <ng-content select="sky-docs-demo-page-summary"></ng-content>

    <ng-content select="sky-docs-demo"></ng-content>

    <div class="sky-docs-demo-page-main">
      <sky-tabset *ngIf="enableTabLayout; else content" permalinkId="docs">
        <sky-tab tabHeading="Design" *ngIf="!!designGuidelinesComponent">
          <ng-content select="sky-docs-design-guidelines"></ng-content>
        </sky-tab>

        <sky-tab tabHeading="Development">
          <ng-container [ngTemplateOutlet]="content"></ng-container>
        </sky-tab>

        <sky-tab tabHeading="Testing" *ngIf="enableTestingTab">
          <sky-docs-demo-page-section heading="Test harnesses">
            <p>
              SKY UX test harnesses are built upon Angular CDK component
              harnesses. For more information see the
              <a href="https://material.angular.io/cdk/test-harnesses/overview"
                >Angular CDK component harness documentation</a
              >.
            </p>
          </sky-docs-demo-page-section>
          <sky-docs-demo-page-type-definitions [types]="testingTypeDefinitions">
          </sky-docs-demo-page-type-definitions>
        </sky-tab>

        <sky-tab tabHeading="Code examples" *ngIf="enableCodeExamples">
          <ng-content select="sky-docs-code-examples"></ng-content>
        </sky-tab>
      </sky-tabset>
    </div>
  </stache>
</div>

<ng-template #content>
  <sky-docs-demo-page-section *ngIf="moduleName" heading="Installation">
    <sky-docs-module-info
      [gitRepoUrl]="gitRepoUrl"
      [moduleName]="moduleName"
      [packageName]="packageName"
      [packageUrl]="packageUrl"
    >
      <ng-content select="sky-docs-demo-page-module-info"></ng-content>
    </sky-docs-module-info>
  </sky-docs-demo-page-section>

  <ng-content></ng-content>

  <sky-docs-demo-page-type-definitions [types]="moduleTypeDefinitions">
  </sky-docs-demo-page-type-definitions>
</ng-template>
